<h1>User Wall</h1>

<%= paginate @posts %>

<table>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= render post.user %></td>
    <td><%= post.body %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
  <% post.comments.each do |comment| %>
    <tr>
      <td></td>
      <td><%= render comment.user %></td>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
<% end %>
</table>


<br />

