<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Userame:</b>
  <%= @user.username %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<% if @user.id == session[:user_id] #view own profile%>
  <p><%= link_to 'Edit profile', edit_user_path(@user) %></p>
  <p>
    <b>Accounts currently on your social deck:</b>
    <% if @user.twitter.present? %>
      <%= link_to 'http://www.twitter.com', :title => 'Twitter' do %><i class='icon-twitter'></i><% end %>
    <% end %>
    <% if @user.facebook.present? %>
      <%= link_to 'http://www.facebook.com', :title => 'Facebook' do %><i class='icon-facebook'></i><% end %>
    <% end %>
  <p>
    <b>Add accounts to your social deck:</b>
    <% unless @user.twitter.present? %>
      <%= link_to '/auth/twitter', :title => 'Twitter' do %><i class='icon-twitter'></i><% end %>
    <% end %>
    <% unless @user.facebook.present? %>
      <%= link_to '/auth/facebook', :title => 'Facebook' do %><i class='icon-facebook'></i><% end %>
    <% end %>
  </p>
  <p>
    <%= link_to(image_tag(@user.gravatar_url(:default => "identicon", :size => "150px")), "https://en.gravatar.com/site/login", :confirm => "Visit gravatar.com to edit your avatar?", :target => '_blank', :title => "Change your avatar", :id => "gravatar-link")%>
  </p>
<% else %>
  <p>
    <%= image_tag(@user.gravatar_url(:default => "identicon", :size => "50px")) %>
  </p>
<% end %>


<h3><%= @user.username %>'s posts</h3>
<%= paginate @posts %>
<% @posts.each do |post| %>
  <div class="post">
    <%= render post %>
  </div>
<% end %>

<% if @user.id == session[:user_id] #view own profile%> 
  <p>
    <%= link_to 'Post something', new_post_url %>
  </p>
<% elsif @current_user.follows.exists?(:followee_id => @user.id, :follower_id => session[:user_id]) %>
    <%= link_to "Unfollow #{@user.username}", follow_url(@user.id), :method => :delete %>
  <% elsif @current_user.id != @user.id%>
    <%= link_to "Follow #{@user.username}", follow_url(@user.id), :method => :post %>
  <% end %>
