<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= render @post.user %>
  <% if @current_user.follows.exists?(:followee_id => @post.user.id, :follower_id => session[:user_id]) %>
  	<%= link_to "Unfollow #{@post.user.username}", follow_url(@post.user_id), :method => :delete %>
  <% elsif @current_user.id != @post.user_id%>
  	<%= link_to "Follow #{@post.user.username}", follow_url(@post.user_id), :method => :post %>
  <% end %>
</p>
<% if @post.post_type == 1 %>
	<p>
		<%= image_tag @post.file.url %>
	</p>
<% end %>
<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
	<%= @post.updated_at %>
</p>

<p><b>Comments:</b></p>
<% @comments.each do |comment| %>
	<p>
		<%= render comment.user %> : <%= comment.body %>
		<% if comment.user.id == session[:user_id] %>
			<%= link_to 'Edit', edit_comment_path(comment.id) %> |
			<%= link_to 'Delete', comment_path(comment.id), :method => :delete %>
		<% end %>
	</p>
<% end %>

<%= link_to 'Comment on this post', new_comment_path(@post.id) %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
