<h1>Listing posttags</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posttags.each do |posttag| %>
  <tr>
    <td><%= posttag.post_id %></td>
    <td><%= posttag.tag_id %></td>
    <td><%= link_to 'Show', posttag %></td>
    <td><%= link_to 'Edit', edit_posttag_path(posttag) %></td>
    <td><%= link_to 'Destroy', posttag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
